<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать стиральную машину</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Редактировать стиральную машину</h1><br>
  <form method="POST" enctype="multipart/form-data" th:action="@{/washing-machines/update}" th:object="${washingMachinesDTO}">
    <input name="id" type="hidden" th:value="${washingMachine.id}">
    <div class="mb-3">
      <label for="imgPath" class="form-label">Картинка</label>
      <input name="imgPath" type="hidden" th:value="${washingMachine.imgPath}" class="form-control">
      <p th:text="${washingMachine.imgPath}"></p>
      <input type="file" name="file" id="imgPath">
    </div>
    <div class="mb-3">
      <label for="firmName" class="form-label">Фирма-производитель</label>
      <input name="firmName" type="text"  th:value="${washingMachine.firmName}" class="form-control" id="firmName">
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Модель</label>
      <input name="model" type="text" th:value="${washingMachine.model}" class="form-control" id="model">
    </div>
    <div class="mb-3">
      <label for="powerConsumption" class="form-label">Потребляемая мощность, Вт</label>
      <input name="powerConsumption" type="text" th:value="${washingMachine.powerConsumption}" class="form-control" id="powerConsumption">
    </div>
    <div class="mb-3">
      <label for="waterConsumption" class="form-label">Расход воды за цикл, л</label>
      <input name="waterConsumption" type="text" class="form-control" th:value="${washingMachine.waterConsumption}" id="waterConsumption">
    </div>
    <div class="mb-3">
      <label for="maxSpinSpeed" class="form-label">Максимальная скорость отжима, об/мин</label>
      <input name="maxSpinSpeed" type="text" class="form-control" th:value="${washingMachine.maxSpinSpeed}" id="maxSpinSpeed">
    </div>
    <div class="mb-3">
      <label for="maxLoad" class="form-label">Максимальная загрузка, кг</label>
      <input name="maxLoad" type="text" class="form-control" th:value="${washingMachine.maxLoad}" id="maxLoad">
    </div>
    <div class="mb-3">
      <label for="motorType" class="form-label">Тип мотора</label>
      <!-- Нужно динамически брать значения из нашего ENUM -->
      <select class="form-select" name="motorType" id="motorType" aria-label="Default select example">
        <option selected th:value="${washingMachine.motorType}" th:text="${washingMachine.motorType.getType()}"></option>
        <option value="STANDARD">Стандартный</option>
        <option value="INVERTER">Инверторный</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Цвет</label>
      <input name="color" type="text" class="form-control" th:value="${washingMachine.color}" id="color">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Высота, см</label>
      <input name="height" type="text" class="form-control" th:value="${washingMachine.height}" id="height">
    </div>
    <div class="mb-3">
      <label for="width" class="form-label">Ширина, см</label>
      <input name="width" type="text" class="form-control" th:value="${washingMachine.width}" id="width">
    </div>
    <div class="mb-3">
      <label for="depth" class="form-label">Глубина, см</label>
      <input name="depth" type="text" class="form-control" th:value="${washingMachine.depth}" id="depth">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Вес, кг</label>
      <input name="weight" type="text" class="form-control" th:value="${washingMachine.weight}" id="weight">
    </div>
    <div class="mb-3">
      <label for="cost" class="form-label">Стоимость, руб</label>
      <input name="cost" type="text" class="form-control" th:value="${washingMachine.cost}" id="cost">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Информация о товаре</label>
      <input name="description" type="text" class="form-control" th:value="${washingMachine.description}" id="description">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input name="amount" type="text" class="form-control" th:value="${washingMachine.amount}" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Обновить</button>
    <button type="button" class="btn btn-secondary" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
  </form>

</div>
</body>
</html>
