<!--страница со стиральными машинами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стиральные машины</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Стиральные машины</h1><br><br>
    <div class="filter-string-container" style="width: 100%">
        <div>
            <div class="row">
                <div class="cool">
                    <form method="POST" th:action="@{/washing-machines/filter-by-model}" th:object="${washingMachineByModel}">
                        <div class="row">
                            <div class="col-auto" style="width: 80%">
                                <input name="model" type="text" class="form-control" id="model" th:placeholder="'Поиск по моделям'">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <form sec:authorize="hasRole('ADMIN')">
                <a
                        th:href="'washing-machines/add'"
                        class="btn btn-secondary"
                        role="button"
                        style="float: right"
                        aria-disabled="true">Добавить стиральную машину</a>
            </form>
        </div>
    </div><br><br>
    <div class="page-container" style="width: 100%">
        <div>
            <div>
                <h5>Фильтр</h5>
                <hr style="width: 40%">
                <small>
                    <form method="POST" th:action="@{/washing-machines/filter}" th:object="${washingMachinesWithFilter}">
                        <h6>Компания</h6>
                        <div class="mb-3">
                            <input name="firmName" type="radio" id="firmNameNull" th:value="''" checked>
                            <label for="firmNameNull">Не выбрано</label>
                        </div>
                        <div class="mb-3" th:each="manufacturer: ${manufacturers}">
                            <input name="firmName" type="radio" id="firmName" th:value="${manufacturer.firmName}">
                            <label for="firmName" th:text="${manufacturer.firmName}"></label>
                        </div>
                        <hr style="width: 40% ">
                        <h6>Цена, ₽</h6>
                        <div class="mb-3">
                            <label for="minCostDTO" class="form-label">от</label>
                            <input name="minCostDTO" type="text" class="form" id="minCostDTO" th:value="${minCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
                        </div>
                        <div class="mb-3">
                            <label for="maxCostDTO" class="form-label">до</label>
                            <input name="maxCostDTO" type="text" class="form" id="maxCostDTO" th:value="${maxCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
                        </div>
                        <hr style="width: 40% ">
                        <h6>Мотор</h6>
                        <div class="mb-3">
                            <input name="motorType" type="radio" id="motorTypeNull" th:value="null" checked>
                            <label for="motorTypeNull">Не выбрано</label>
                        </div>
                        <div class="mb-3">
                            <input name="motorType" type="radio" id="motorType1" th:value="STANDARD">
                            <label for="motorType1">Стандартный</label>
                        </div>
                        <div class="mb-3">
                            <input name="motorType" type="radio" id="motorType2" th:value="INVERTER">
                            <label for="motorType2">Инверторный</label>
                        </div>
                        <hr style="width: 40% ">
                        <h6>Высота</h6>
                        <div class="mb-3">
                            <input name="meanHeight" type="radio" id="meanHeight" th:value="0" checked>
                            <label for="meanHeight">Не выбрано</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanHeight" type="radio" id="meanHeight1" th:value="77">
                            <label for="meanHeight1">менее 80 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanHeight" type="radio" id="meanHeight2" th:value="83">
                            <label for="meanHeight2">80 - 86 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanHeight" type="radio" id="meanHeight4" th:value="89">
                            <label for="meanHeight4">более 86 см</label>
                        </div>
                        <hr style="width: 40% ">
                        <h6>Ширина</h6>
                        <div class="mb-3">
                            <input name="meanWidth" type="radio" id="meanWidth" th:value="0" checked>
                            <label for="meanWidth">Не выбрано</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanWidth" type="radio" id="meanWidth1" th:value="51">
                            <label for="meanWidth1">менее 54 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanWidth" type="radio" id="meanWidth2" th:value="57">
                            <label for="meanWidth2">54 - 60 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanWidth" type="radio" id="meanWidth4" th:value="63">
                            <label for="meanWidth4">более 60 см</label>
                        </div>
                        <hr style="width: 40% ">
                        <h6>Глубина</h6>
                        <div class="mb-3">
                            <input name="meanDepth" type="radio" id="meanDepth" th:value="0" checked>
                            <label for="meanDepth">Не выбрано</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanDepth" type="radio" id="meanDepth1" th:value="35">
                            <label for="meanDepth1">менее 40 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanDepth" type="radio" id="meanDepth2" th:value="45">
                            <label for="meanDepth2">40 - 50 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanDepth" type="radio" id="meanDepth3" th:value="55">
                            <label for="meanDepth3">50 - 60 см</label>
                        </div>
                        <div class="mb-3">
                            <input name="meanDepth" type="radio" id="meanDepth4" th:value="65">
                            <label for="meanDepth4">более 60 см</label>
                        </div>
                        <hr style="width: 40% ">
                        <button type="submit" style="background-color: #f5d302; border-style: solid; border-color: #f5d302; color: #090808;-->
                border-radius: 4px; box-shadow: none">Применить</button>
                    </form>
                </small>
            </div>
        </div>
        <div>
            <table class="table">
                <col style="width:40%">
                <col style="width:40%">
                <col style="width:20%">
                <tbody>
                <!--        Перебор стиральных машин-->
                <tr th:each="washingMachine: ${washingMachines}">
                    <td align="center">
                        <img th:src="@{'/' + ${washingMachine.imgPath}}" alt="Нет картинки" height="250">
                    </td>
                    <td>
                        <div>
                            <a th:href="'/api/washing-machines/get/' +  ${washingMachine.id}" class="nav-link active">
                                <b th:text="${washingMachine.productSubtype}"> </b>
                                <b th:text="${washingMachine.manufacturerName}"> </b>
                                <b th:text="${washingMachine.model}"></b>
                            </a>
                            <p>
                                <small th:text="'Тип мотора ' + ${washingMachine.motorType}"></small>
                                <br><small th:text="'Максимальная загрузка ' + ${washingMachine.maxLoad} + ' кг'"></small>
                                <br><small th:text="'ВхШхГ, см: ' + ${washingMachine.dimensions}"></small>
                            </p>
                            <big th:text="${washingMachine.cost} + ' ₽'"></big>
                        </div>
                    </td>
                    <td align="right">
                        <a th:href="'/api/washing-machines/get/' + ${washingMachine.id}"
                           class="btn btn-primary"
                           role="button"
                           aria-disabled="true">Узнать больше</a><br>

                        <br>
                        <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/washing-machines/putInBasket}" th:object="${idProduct}">
                            <input name="idProduct" type="hidden" th:value="${washingMachine.id}">
                            <button type="submit" class="btn btn-primary"
                                    style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
                                В корзину
                            </button>
                        </form>
                        <form sec:authorize="!isAuthenticated()">
                            <a href="/api/account/signIn"
                               class="btn btn-primary"
                               role="button"
                               style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
                               aria-disabled="true">В корзину</a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><br><br><br>
        <div  class="footer" align="center" >
            <small>
                <small>
                    © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                    <br>Информация на сайте не является публичной офертой.
                </small>
            </small>
        </div>
    </div>
</div>
</body>
</html>