<!--страница со стиральными машинами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стиральные машины</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="'Стиральные машины с примененным фильтром'"></h1>
    <a
            th:href="'/api/washing-machines'"
            class="btn btn-secondary"
            role="button"
            style="float: right"
            aria-disabled="true">Другие стиральные машины</a><br><br>
    <div>
    </div>
    <table class="table">
        <col style="width:40%">
        <col style="width:40%">
        <col style="width:20%">
        <tbody>
        <!--        Перебор стиральных машин-->
        <tr th:each="washingMachine: ${washingMachinesWithFilter}">
            <td align="center">
                <img th:src="@{'/' + ${washingMachine.imgPath}}" alt="Нет картинки" height="250">
            </td>
            <td>
                <div>
                    <a th:href="'/api/washing-machines/get/' +  ${washingMachine.id}" class="nav-link active">
                        <b th:text="${washingMachine.productSubtype}"> </b>
                        <b th:text="${washingMachine.manufacturerName}"> </b>
                        <b th:text="${washingMachine.model}"></b>
                    </a>
                    <p>
                        <small th:text="'Тип мотора ' + ${washingMachine.motorType}"></small>
                        <br><small th:text="'Максимальная загрузка ' + ${washingMachine.maxLoad} + ' кг'"></small>
                        <br><small th:text="'ВхШхГ, см: ' + ${washingMachine.dimensions}"></small>
                    </p>
                    <big th:text="${washingMachine.cost} + ' ₽'"></big>
                </div>
            </td>
            <td align="right">
                <a th:href="'/api/washing-machines/get/' + ${washingMachine.id}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">Узнать больше</a><br>

                <br>
                <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/washing-machines/putInBasket}" th:object="${idProduct}">
                    <input name="idProduct" type="hidden" th:value="${washingMachine.id}">
                    <button type="submit" class="btn btn-primary"
                            style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
                        В корзину
                    </button>
                </form>
                <form sec:authorize="!isAuthenticated()">
                    <a href="/api/account/signIn"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
                       aria-disabled="true">В корзину</a>
                </form>
            </td>
        </tr>
        </tbody>
    </table> <br><br><br>
    <div  class="footer" align="center" >
        <small>
            <small>
                © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                <br>Информация на сайте не является публичной офертой.
            </small>
        </small>
    </div>
</div>
</body>
</html>