<!--страница с категориями товаров-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Категории товаров</title>
</head>
<body>
<div layout:fragment="content">
  <h1 align="center">Выберите категорию</h1>
  <div>

  </div>

  <div class="model-container" style="overflow: hidden;" align="center">

    <div class="t692__col t-col t-col_3 t-align_center t-item">
      <b>Техника для кухни</b>
      <a th:href="'refrigerators'" class="nav-link active">Холодильники</a>
      <a th:href="'microwaves'" class="nav-link active">Микроволновые печи</a>
    </div>
    <div class="t692__col t-col t-col_3 t-align_center t-item">
      <b>Техника для дома</b>
      <a th:href="'washing-machines'" class="nav-link active">Стиральные машины</a>
      <a th:href="'vacuum-cleaners'" class="nav-link active">Пылесосы</a>
      <a th:href="'irons'" class="nav-link active">Утюги</a>
    </div>

  </div>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>

</div>
</body>
</html>