<!--страница с корзиной-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Корзина</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Корзина</h1>
  <p></p>

  <div class="container-fluid">

  </div><br><br><br>
  <div align="center" style="opacity: 70%">
    <h2>
      Корзина пустая :(
    </h2>
  </div><br><br><br>
  <div align="center">
    <a th:href="'/api/products'"
       class="btn btn-primary"
       role="button"
       aria-disabled="true">Выбрать товар</a><br>
  </div>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>
</div>
</body>
</html>
