<!--страница с корзиной-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Корзина</h1>
    <p></p>

    <div class="container-fluid">

    </div>
    <div class="basket-page" style="width: 100%">
        <div>
            <table class="table">
                <col style="width:35%">
                <col style="width:35%">
                <col style="width:15%">
                <col style="width:15%">
                <tbody>
                <tr th:each="product: ${products}">
                    <td align="center">
                        <img th:src="@{'/' + ${product.img}}" alt="Нет картинки" height="250">
                    </td>
                    <td>
                        <div>
                            <b th:text="${product.productSubtype}"> </b>
                            <b th:text="${product.manufacturerName}"> </b>
                            <b th:text="${product.model}"></b>
                        </div>
                    </td>
                    <td>
                        <p th:text="${product.amountInOrder}" align="center"></p>
                        <div align="center">
                            <form method="POST" th:action="@{/orders/account/basket/reduce-amount}" th:object="${productDTO}" style="display: inline-block">
                                <input name="id" type="hidden" th:value="${product.id}">
                                <input name="cost" type="hidden" th:value="${product.cost}">
                                <input name="amountInOrder" type="hidden" th:value="${product.amountInOrder}">
                                <input name="productSubtype" type="hidden" th:value="${product.productSubtype}">
                                <input name="orderId" type="hidden" th:value="${order.id}">
                                <button type="submit" class="btn btn-primary btn-sm" style="background-color: #ffffff; border-color: #090808; color: #090808">-</button>
                            </form>
                            <form method="POST" th:action="@{/orders/account/basket/increase-amount}" th:object="${productDTO}" style="display: inline-block">
                                <input name="id" type="hidden" th:value="${product.id}">
                                <input name="cost" type="hidden" th:value="${product.cost}">
                                <input name="amountInOrder" type="hidden" th:value="${product.amountInOrder}">
                                <input name="productSubtype" type="hidden" th:value="${product.productSubtype}">
                                <input name="orderId" type="hidden" th:value="${order.id}">
                                <button type="submit" class="btn btn-primary btn-sm" style="background-color: #ffffff; border-color: #090808; color: #090808">+</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <p><big th:text="${product.allCost} + ' ₽'"></big></p>
                        <form method="POST" th:action="@{/orders/account/basket/delete}" th:object="${productDTO}">
                            <input name="id" type="hidden" th:value="${product.id}">
                            <input name="productSubtype" type="hidden" th:value="${product.productSubtype}">
                            <input name="orderId" type="hidden" th:value="${order.id}">
                            <button type="submit" class="btn btn-primary btn-sm" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
        </div>
        <div style="background-color: #fcf5db; border-radius: 25px; height: 220px">
            <div style="margin-left: 5%">
                <h3>Детали заказа</h3><br>
                <ul class="feature">
<!--                    <li>-->
<!--                        <div class="feature-left" th:text="${amount} + ' товара'"></div>-->
<!--                        <div class="feature-right" th:text="${order.getCostOrder()} + ' ₽'"></div>-->
<!--                    </li>-->
                    <li>
                        <big>
                            <div class="feature-left">Итого</div>
                            <div class="feature-right" th:text="${order.getCostOrder()} + ' ₽'"></div>
                        </big>
                    </li>
                </ul><br>
                <div align="center">
                    <a th:href="'/api/orders/account/' + ${order.id} + '/form'"
                       class="btn btn-primary"
                       role="button"
                       aria-disabled="true" >Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div  class="footer" align="center" >
        <small>
            <small>
                © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                <br>Информация на сайте не является публичной офертой.
            </small>
        </small>
    </div>
</div>
</body>
</html>
