<!--Оформление заказа-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Оформление заказа</h1><br>
    <h2>Данные получателя</h2><br>
    <div class="container">
        <p th:text="'ФИО: ' + ${account.lastName} + ' ' + ${account.firstName} + ' ' + ${account.middleName}"></p>
        <p th:text="'Номер телефона: ' + ${account.telephone}"></p>
        <p th:text="'Email: ' + ${account.email}"></p>
    </div>
    <hr style="width: 40%">
    <br>
    <h2>Доставка</h2><br>
    <form method="POST" th:action="@{/orders/account/form}" th:object="${address}">
        <div class="mb-3">
            <label for="address" class="form-label">Адрес доставки</label>
            <input name="address" type="text" th:value="${account.address}" class="form-control" id="address">
            <input name="orderId" type="hidden" th:value="${orderId}">
        </div>
        <hr style="width: 40%">
        <br>
        <h2>Сумма заказа</h2><br>
        <p th:text="'К оплате: ' + ${order.costOrder} + ' ₽'"></p>
        <button type="submit" class="btn btn-primary">Оплатить заказ</button>
        <button type="button" class="btn btn-secondary"  style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
    </form>
    <br>
    <br><br><br>
    <div  class="footer" align="center" >
        <small>
            <small>
                © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                <br>Информация на сайте не является публичной офертой.
            </small>
        </small>
    </div>
</div>
</body>
</html>