<!--страница с заказами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Заказы</h1>
    <p></p>

    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="cool">
                    <form sec:authorize="hasRole('ADMIN')" method="POST" th:action="@{/orders/find-orders}" th:object="${orderId}">
                        <div class="row">
                            <div class="col-auto" style="width: 80%">
                                <input name="orderId" type="text" class="form-control" id="orderId" placeholder="Поиск заказа">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Статус оплаты</th>
            <th scope="col">Дата оплаты</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="order: ${allOrders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.dateCreate}"></td>
            <td th:text="${order.isPaid}"></td>
            <td th:text="${order.datePaid}"></td>
            <td th:text="${order.costOrder}"></td>
            <td align="right">
                <form method="POST" th:action="@{/orders/get}" th:object="${orderId}">
                    <input name="orderId" type="hidden" id="id" th:value="${order.id}">
                    <button type="submit" class="btn btn-primary">Подробнее</button>
                </form>
        </tr>
        </tbody>
    </table><br><br><br>
    <div  class="footer" align="center" >
        <small>
            <small>
                © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                <br>Информация на сайте не является публичной офертой.
            </small>
        </small>
    </div>
</div>
</body>
</html>
