<!--страница с заказом-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заказ</title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="'Заказ № ' + ${order.id}">Заказ № </h1><br>
  <div class="container-fluid">

  </div>
  <div class="basket-page" style="width: 100%">
    <div>
      <table class="table">
        <col style="width:35%">
        <col style="width:35%">
        <col style="width:15%">
        <col style="width:15%">
        <tbody>
        <tr th:each="product: ${products}">
          <td align="center">
            <img th:src="@{'/' + ${product.img}}" alt="Нет картинки" height="250">
          </td>
          <td>
            <div>
              <b th:text="${product.productSubtype}"> </b>
              <b th:text="${product.manufacturerName}"> </b>
              <b th:text="${product.model}"></b>
            </div>
          </td>
          <td>
            <p th:text="${product.amountInOrder} + ' шт.'" align="center"></p>
          </td>
          <td>
            <p><big th:text="${product.allCost} + ' ₽'"></big></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
    <div style="background-color: #fcf5db; border-radius: 25px; height: 500px">
      <div style="margin-left: 5%">
        <h3>Детали заказа</h3><br>
        <ul class="feature">
          <li>
            <big>
              <div class="feature-left">Сумма заказа</div>
              <div class="feature-right" th:text="${order.getCostOrder()} + ' ₽'"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Статус</div>
              <div class="feature-right" th:text="${order.isPaid}"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Дата создания</div>
              <div class="feature-right" th:text="${order.dateCreate}"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Дата оплаты</div>
              <div class="feature-right" th:text="${order.datePaid}"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Адрес доставки</div>
              <div class="feature-right" th:text="${order.address}"></div>
            </big>
          </li>
        </ul><br>
        <h3>Данные покупателя</h3><br>
        <ul class="feature">
          <li>
            <big>
              <div class="feature-left">ФИО</div>
              <div class="feature-right" th:text="${account.lastName} + ' ' + ${account.firstName} + ' ' + ${account.middleName}"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Телефон</div>
              <div class="feature-right" th:text="${account.telephone}"></div>
            </big>
          </li>
          <li>
            <big>
              <div class="feature-left">Email</div>
              <div class="feature-right" th:text="${account.email}"></div>
            </big>
          </li>
        </ul><br>

      </div>
    </div>
  </div>
  <br><br><br>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>
</div>
</body>
</html>
