<!--страница с товаром компании-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Продукция компании</title>
</head>
<body>
<div layout:fragment="content">
  <h1 align="center" th:text ="'Продукция компании ' + ${firmName}"></h1><br>
  <h3 align="center">Выберите категорию</h3>
  <div>

  </div>

  <div class="model-container" style="overflow: hidden;" align="center">

    <div class="t692__col t-col t-col_3 t-align_center t-item">
      <b>Техника для кухни</b>
      <a th:href="'/api/manufacturers/' + ${id} + '/allRefrigerators'" class="nav-link active"
         th:text = "'Холодильники (' + ${countRefrigerators} + ')'"></a>
      <a th:href="'/api/manufacturers/' + ${id} + '/allMicrowaves'" class="nav-link active"
         th:text = "'Микроволновые печи (' + ${countMicrowaves} + ')'"></a>
    </div>
    <div class="t692__col t-col t-col_3 t-align_center t-item">
      <b>Техника для дома</b>
      <a th:href="'/api/manufacturers/' + ${id} + '/allWashingMachines'" class="nav-link active"
         th:text = "'Стиральные машины (' + ${countWashingMachines} + ')'"></a>
      <a th:href="'/api/manufacturers/' + ${id} + '/allVacuumCleaners'" class="nav-link active"
         th:text = "'Пылесосы (' + ${countVacuumCleaners} + ')'"></a>
      <a th:href="'/api/manufacturers/' + ${id} + '/allIrons'" class="nav-link active"
         th:text = "'Утюги (' + ${countIrons} + ')'"></a>
    </div>

  </div>
</div>
</body>
</html>