<!--страница с производителями-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Производители</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Производители</h1>
    <p></p>
    <div class="text">Здесь представлены все фирмы-производители с которыми сотрудничает наш магазин</div><br>
    <div class="filter-string-container" style="width: 100%">
        <div>
            <div class="row">
                <div class="cool">
                    <form method="POST" th:action="@{/manufacturers/filter-by-name}" th:object="${manufacturersByName}">
                        <div class="row">
                            <div class="col-auto" style="width: 80%">
                                <input name="firmName" type="text" class="form-control" id="firmName" placeholder="Поиск компании">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <form sec:authorize="hasRole('ADMIN')">
                <a
                        th:href="'manufacturers/add'"
                        class="btn btn-secondary"
                        role="button"
                        style="float: right"
                        aria-disabled="true">Добавить производителя</a><br><br>
            </form>
        </div>
    </div><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Наименование компании</th>
            <th scope="col">Страна</th>
            <th scope="col">Небольшое представление о компании</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--        Перебор производителей-->
        <tr th:each="manufacturer: ${manufacturers}">
            <td th:text="${manufacturer.firmName}"></td>
            <td th:text="${manufacturer.country}"></td>
            <td th:text="${manufacturer.description}"></td>
            <td>
                <a th:href="'/api/manufacturers/allProducts/' + ${manufacturer.id}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">Показать продукцию</a>
            </td>
            <td>
                <form sec:authorize="hasRole('ADMIN')">
                    <a th:href="'/api/manufacturers/update/' + ${manufacturer.id}"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: #090808; border-color: #090808; color: #ffffff; width: 130px"
                       aria-disabled="true">Редактировать</a>
                    <br>
                    <br>
                    <a th:href="'/api/manufacturers/delete/' + ${manufacturer.id}"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: #ea1717; border-color: #ea1717; color: aliceblue; width: 130px"
                       aria-disabled="true" >Удалить</a>
                </form>
            </td>
        </tr>
        </tbody>
    </table><br><br><br>
    <div  class="footer" align="center" >
        <small>
            <small>
                © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                <br>Информация на сайте не является публичной офертой.
            </small>
        </small>
    </div>
</div>
</body>
</html>
