<!--страница с микроволновыми печами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Микроволновые печи</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Микроволновые печи с примененным фильтром</h1><br>
    <a
            th:href="'/api/microwaves'"
            class="btn btn-secondary"
            role="button"
            style="float: right"
            aria-disabled="true">Другие микроволновые печи</a><br><br>
    <div>
    </div>
    <br><table class="table">
    <col style="width:40%">
    <col style="width:40%">
    <col style="width:20%">
    <tbody>
    <!--        Перебор микроволновых печей-->
    <tr th:each="microwave: ${microwavesWithFilter}">
      <td align="center">
        <img th:src="@{'/' + ${microwave.imgPath}}" alt="Нет картинки" height="250">
      </td>
      <td>
        <div>
          <a th:href="'/api/microwaves/get/' +  ${microwave.id}" class="nav-link active">
            <b th:text="${microwave.productSubtype}"> </b>
            <b th:text="${microwave.manufacturerName}"> </b>
            <b th:text="${microwave.model}"></b>
          </a>
          <p>
            <small th:text="'Мощность микроволн ' + ${microwave.microwave_power} + ' Вт'"></small>
            <br><small th:text="'Объем камеры ' + ${microwave.volume} + ' л'"></small>
            <br><small th:text="'ВхШхГ, см: ' + ${microwave.dimensions}"></small>
          </p>
          <big th:text="${microwave.cost} + ' ₽'"></big>
        </div>
      </td>
      <td align="right">
        <a th:href="'/api/microwaves/get/' + ${microwave.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Узнать больше</a><br>

        <br>
        <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/microwaves/putInBasket}" th:object="${idProduct}">
          <input name="idProduct" type="hidden" th:value="${microwave.id}">
          <button type="submit" class="btn btn-primary"
                  style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
            В корзину
          </button>
        </form>
        <form sec:authorize="!isAuthenticated()">
          <a href="/api/account/signIn"
             class="btn btn-primary"
             role="button"
             style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
             aria-disabled="true">В корзину</a>
        </form>
      </td>
    </tr>
    </tbody>
    </table><br><br><br>
    <div  class="footer" align="center" >
      <small>
        <small>
          © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
          <br>Информация на сайте не является публичной офертой.
        </small>
      </small>
    </div>
  </div>
</body>
</html>