<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать микроволновую печь</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Редактировать микроволновую печь</h1><br>
  <form method="POST" enctype="multipart/form-data" th:action="@{/microwaves/update}" th:object="${microwaveDTO}">
    <input name="id" type="hidden" th:value="${microwave.id}">
    <div class="mb-3">
      <label for="imgPath" class="form-label">Картинка</label>
      <input name="imgPath" type="hidden" th:value="${microwave.imgPath}" class="form-control">
      <p th:text="${microwave.imgPath}"></p>
      <input type="file" name="file" id="imgPath">
    </div>
    <div class="mb-3">
      <label for="firmName" class="form-label">Фирма-производитель</label>
      <input name="firmName" type="text" th:value="${microwave.firmName}" class="form-control" id="firmName">
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Модель</label>
      <input name="model" type="text" th:value="${microwave.model}" class="form-control" id="model">
    </div>
    <div class="mb-3">
      <label for="powerConsumption" class="form-label">Потребляемая мощность, Вт</label>
      <input name="powerConsumption" type="text" th:value="${microwave.powerConsumption}" class="form-control" id="powerConsumption">
    </div>
    <div class="mb-3">
      <label for="microwavePower" class="form-label">Мощность микроволн, Вт</label>
      <input name="microwavePower" type="text" th:value="${microwave.microwavePower}" class="form-control" id="microwavePower">
    </div>
    <div class="mb-3">
      <label for="volume" class="form-label">Объем камеры, л</label>
      <input name="volume" type="text" class="form-control" th:value="${microwave.volume}" id="volume">
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Цвет</label>
      <input name="color" type="text" class="form-control" th:value="${microwave.color}" id="color">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Высота, см</label>
      <input name="height" type="text" class="form-control" th:value="${microwave.height}" id="height">
    </div>
    <div class="mb-3">
      <label for="width" class="form-label">Ширина, см</label>
      <input name="width" type="text" class="form-control" th:value="${microwave.width}" id="width">
    </div>
    <div class="mb-3">
      <label for="depth" class="form-label">Глубина, см</label>
      <input name="depth" type="text" class="form-control" th:value="${microwave.depth}" id="depth">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Вес, кг</label>
      <input name="weight" type="text" class="form-control" th:value="${microwave.weight}" id="weight">
    </div>
    <div class="mb-3">
      <label for="cost" class="form-label">Стоимость, руб</label>
      <input name="cost" type="text" class="form-control" th:value="${microwave.cost}" id="cost">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Информация о товаре</label>
      <input name="description" type="text" class="form-control" th:value="${microwave.description}" id="description">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input name="amount" type="text" class="form-control" th:value="${microwave.amount}" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Обновить</button>
    <button type="button" class="btn btn-secondary" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
  </form>

</div>
</body>
</html>
