<!--страница с микроволновой печью-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Микроволновая печь</title>
</head>
<body>
<div layout:fragment="content">
  <div>
    <button type="button" class="btn btn-secondary" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
    <br>
  </div>
  <div class="product-page">
    <div align="center">
      <img th:src="@{'/' +${product.imgPath}}" alt="Нет картинки">
    </div>
    <div></div>
    <div style="background-color: #fcf5db; border-radius: 25px; height: 400px">
      <div style="margin-left: 5%; margin-top: 5%">
        <h4>
          <b th:text="${product.productSubtype.getProductSubtype()}"> </b>
          <b th:text="${product.firmName}"> </b>
          <b th:text="${product.model}"></b>
        </h4>
        <br>
        <h5><i><b th:text="${product.cost} + ' ₽'"></b></i></h5>
        <br>
        <div>
          <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/microwaves/putInBasket}" th:object="${idProduct}">
            <input name="idProduct" type="hidden" th:value="${product.id}">
            <button type="submit" class="btn btn-primary"
                    style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
              В корзину
            </button>
          </form>
          <form sec:authorize="!isAuthenticated()">
            <a href="/api/account/signIn"
               class="btn btn-primary"
               role="button"
               style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
               aria-disabled="true">В корзину</a>
          </form>
          <form sec:authorize="hasRole('ADMIN')" style="display: inline-block">
            <a th:href="'/api/microwaves/update/' + ${product.id}"
               class="btn btn-primary"
               role="button"
               aria-disabled="true">Обновить информацию</a>
          </form>
          <form sec:authorize="hasRole('ADMIN')" style="display: inline-block">
            <a th:href="'/api/microwaves/delete' + ${product.id}"
               class="btn btn-primary"
               role="button"
               style="background-color: #ea1717; border-color: #ea1717; color: aliceblue"
               aria-disabled="true">Удалить</a>
          </form>
        </div>
        <br><p th:text="${product.description}"></p>
      </div>
    </div>
  </div><br>
  <br><div class="feature">
      <h5><b>Характеристики</b></h5>
      <br>
      <h6><b>Габариты</b></h6>
      <p><div class="feature-left">Высота</div>
      <div class="feature-right" th:text="${product.heightToShow} + ' см'"></div></p>
      <p><div class="feature-left">Ширина</div>
      <div class="feature-right" th:text="${product.widthToShow} + ' см'"></div></p>
      <p><div class="feature-left">Глубина</div>
      <div class="feature-right" th:text="${product.depthToShow} + ' см'"></div></p>
      <p><div class="feature-left">Вес</div>
      <div class="feature-right" th:text="${product.weightToShow} + ' кг'"></div></p>
      <br>
      <h6><b>Объем</b></h6>
      <p><div class="feature-left">Объем камеры</div>
      <div class="feature-right" th:text="${product.volume} + ' л'"></div></p>
      <br>
      <h6><b>Производительность</b></h6>
      <p><div class="feature-left">Мощность микроволн</div>
      <div class="feature-right" th:text="${product.microwavePower} + ' Вт'"></div></p>
      <br>
      <h6><b>Энергоэффективность</b></h6>
      <p><div class="feature-left">Потребляемая мощность</div>
      <div class="feature-right" th:text="${product.powerConsumption} + ' Вт'"></div></p>
      <br>
      <h6><b>Цвет</b></h6>
      <p><div class="feature-left">Цвет</div>
      <div class="feature-right" th:text="${product.color}"></div></p>
  </div><br><br><br>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>


</div>
</body>
</html>