<!--страница с микроволновыми печами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Микроволновые печи</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Микроволновые печи</h1><br><br>
    <div class="filter-string-container" style="width: 100%">
      <div>
        <div class="row">
          <div class="cool">
            <form method="POST" th:action="@{/microwaves/filter-by-model}" th:object="${microwaveByModel}">
              <div class="row">
                <div class="col-auto" style="width: 80%">
                  <input name="model" type="text" class="form-control" id="model" placeholder="Поиск по моделям">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <form sec:authorize="hasRole('ADMIN')">
          <a
                  th:href="'microwaves/add'"
                  class="btn btn-secondary"
                  role="button"
                  style="float: right"
                  aria-disabled="true">Добавить микроволновую печь</a>
        </form>
      </div>
    </div><br><br>
    <div class="page-container" style="width: 100%">
      <div>
        <div>
          <h5>Фильтр</h5>
          <hr style="width: 40%">
          <small>
            <form method="POST" th:action="@{/microwaves/filter}" th:object="${microwaveFilterDTO}">
              <h6>Компания</h6>
              <div class="mb-3">
                <input name="firmName" type="radio" id="firmNameNull" th:value="''" checked>
                <label for="firmNameNull">Не выбрано</label>
              </div>
              <div class="mb-3" th:each="manufacturer: ${manufacturers}">
                <input name="firmName" type="radio" id="firmName" th:value="${manufacturer.firmName}">
                <label for="firmName" th:text="${manufacturer.firmName}"></label>
              </div>
              <hr style="width: 40% ">
              <h6>Цена, ₽</h6>
              <div class="mb-3">
                <label for="minCostDTO" class="form-label">от</label>
                <input name="minCostDTO" type="text" class="form" id="minCostDTO" th:value="${minCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <div class="mb-3">
                <label for="maxCostDTO" class="form-label">до</label>
                <input name="maxCostDTO" type="text" class="form" id="maxCostDTO" th:value="${maxCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <hr style="width: 40% ">
              <h6>Высота</h6>
              <div class="mb-3">
                <input name="meanHeight" type="radio" id="meanHeight" th:value="0" checked>
                <label for="meanHeight">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanHeight" type="radio" id="meanHeight1" th:value="20">
                <label for="meanHeight1">менее 25 см</label>
              </div>
              <div class="mb-3">
                <input name="meanHeight" type="radio" id="meanHeight2" th:value="30">
                <label for="meanHeight2">25 - 35 см</label>
              </div>
              <div class="mb-3">
                <input name="meanHeight" type="radio" id="meanHeight4" th:value="40">
                <label for="meanHeight4">более 35 см</label>
              </div>
              <hr style="width: 40% ">
              <h6>Ширина</h6>
              <div class="mb-3">
                <input name="meanWidth" type="radio" id="meanWidth" th:value="0" checked>
                <label for="meanWidth">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanWidth" type="radio" id="meanWidth1" th:value="25">
                <label for="meanWidth1">менее 30 см</label>
              </div>
              <div class="mb-3">
                <input name="meanWidth" type="radio" id="meanWidth2" th:value="35">
                <label for="meanWidth2">30 - 40 см</label>
              </div>
              <div class="mb-3">
                <input name="meanWidth" type="radio" id="meanWidth3" th:value="45">
                <label for="meanWidth3">40 - 50 см</label>
              </div>
              <div class="mb-3">
                <input name="meanWidth" type="radio" id="meanWidth4" th:value="55">
                <label for="meanWidth4">более 50 см</label>
              </div>
              <hr style="width: 40% ">
              <h6>Глубина</h6>
              <div class="mb-3">
                <input name="meanDepth" type="radio" id="meanDepth" th:value="0" checked>
                <label for="meanDepth">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanDepth" type="radio" id="meanDepth1" th:value="25">
                <label for="meanDepth1">менее 30 см</label>
              </div>
              <div class="mb-3">
                <input name="meanDepth" type="radio" id="meanDepth2" th:value="35">
                <label for="meanDepth2">30 - 40 см</label>
              </div>
              <div class="mb-3">
                <input name="meanDepth" type="radio" id="meanDepth4" th:value="45">
                <label for="meanDepth4">более 40 см</label>
              </div>
              <hr style="width: 40% ">
<!--              <h6>Объем камеры</h6>-->
<!--              <div class="mb-3">-->
<!--                <input name="meanVolume" type="radio" id="meanVolume" th:value="0" checked>-->
<!--                <label for="meanVolume">Не выбрано</label>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <input name="meanVolume" type="radio" id="meanVolume1" th:value="18">-->
<!--                <label for="meanVolume1">менее 20 л</label>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <input name="meanVolume" type="radio" id="meanVolume2" th:value="22">-->
<!--                <label for="meanVolume2">20 - 24 л</label>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <input name="meanVolume" type="radio" id="meanVolume3" th:value="26">-->
<!--                <label for="meanVolume3">24 - 28 л</label>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <input name="meanVolume" type="radio" id="meanVolume4" th:value="30">-->
<!--                <label for="meanVolume4">более 28 л</label>-->
<!--              </div>-->
<!--              <hr style="width: 40% ">-->
              <button type="submit" style="background-color: #f5d302; border-style: solid; border-color: #f5d302; color: #090808;-->
                border-radius: 4px; box-shadow: none">Применить</button>
            </form>
          </small>
        </div>
      </div>
      <div><br>
        <table class="table">
          <col style="width:40%">
          <col style="width:40%">
          <col style="width:20%">
          <tbody>
          <!--        Перебор микроволновых печей-->
          <tr th:each="microwave: ${microwaves}">
            <td align="center">
              <img th:src="@{'/' + ${microwave.imgPath}}" alt="Нет картинки" height="250">
            </td>
            <td>
              <div>
                <a th:href="'/api/microwaves/get/' +  ${microwave.id}" class="nav-link active">
                  <b th:text="${microwave.productSubtype}"> </b>
                  <b th:text="${microwave.manufacturerName}"> </b>
                  <b th:text="${microwave.model}"></b>
                </a>
                <p>
                  <small th:text="'Мощность микроволн ' + ${microwave.microwave_power} + ' Вт'"></small>
                  <br><small th:text="'Объем камеры ' + ${microwave.volume} + ' л'"></small>
                  <br><small th:text="'ВхШхГ, см: ' + ${microwave.dimensions}"></small>
                </p>
                <big th:text="${microwave.cost} + ' ₽'"></big>
              </div>
            </td>
            <td align="right">
              <a th:href="'/api/microwaves/get/' + ${microwave.id}"
                 class="btn btn-primary"
                 role="button"
                 aria-disabled="true">Узнать больше</a><br>

              <br>
              <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/microwaves/putInBasket}" th:object="${idProduct}">
                <input name="idProduct" type="hidden" th:value="${microwave.id}">
                <button type="submit" class="btn btn-primary"
                        style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
                  В корзину
                </button>
              </form>
              <form sec:authorize="!isAuthenticated()">
                <a href="/api/account/signIn"
                   class="btn btn-primary"
                   role="button"
                   style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
                   aria-disabled="true">В корзину</a>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div><br><br><br><br>
      <div  class="footer" align="center" >
        <small>
          <small>
            © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
            <br>Информация на сайте не является публичной офертой.
          </small>
        </small>
      </div>
    </div>
  </div>
</body>
</html>