<!--страница с холодильниками-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Холодильники</title>
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="'Холодильники с примененным фильтром'"></h1>
    <a
            th:href="'/api/refrigerators'"
            class="btn btn-secondary"
            role="button"
            style="float: right"
            aria-disabled="true">Другие холодильники</a><br><br>
    <div>

    </div>
    <br><table class="table">
    <col style="width:40%">
    <col style="width:40%">
    <col style="width:20%">
    <tbody>
    <!--        Перебор холодильников-->
    <tr th:each="refrigerator: ${refrigeratorsWithFilter}">
      <td align="center">
        <img th:src="@{'/'+ ${refrigerator.imgPath}}" alt="Нет картинки" height="250">
      </td>
      <td>
        <div>
          <a th:href="'/api/refrigerators/get/' +  ${refrigerator.id}" class="nav-link active">
            <b th:text="${refrigerator.productSubtype}"> </b>
            <b th:text="${refrigerator.manufacturerName}"> </b>
            <b th:text="${refrigerator.model}"></b>
          </a>
          <p>
            <small th:text="'Объем холодильной камеры ' + ${refrigerator.refrigeChamberVolume} + ' л'"></small>
            <br><small th:text="'Объем морозильной камеры ' + ${refrigerator.freezingVolume} + ' л'"></small>
            <br><small th:text="'ДхВхШ, см: ' + ${refrigerator.dimensions}"></small>
          </p>
          <big th:text="${refrigerator.cost} + ' ₽'"></big>
        </div>
      </td>
      <td align="right">
        <a th:href="'/api/refrigerators/get/' + ${refrigerator.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Узнать больше</a><br>

        <br>
        <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/refrigerators/putInBasket}" th:object="${idProduct}">
          <input name="idProduct" type="hidden" th:value="${refrigerator.id}">
          <button type="submit" class="btn btn-primary"
                  style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
            В корзину
          </button>
        </form>
        <form sec:authorize="!isAuthenticated()">
          <a href="/api/account/signIn"
             class="btn btn-primary"
             role="button"
             style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
             aria-disabled="true">В корзину</a>
        </form>
      </td>
    </tr>
    </tbody>
    </table><br><br><br>
    <div  class="footer" align="center" >
      <small>
        <small>
          © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
          <br>Информация на сайте не является публичной офертой.
        </small>
      </small>
    </div>
  </div>
</body>
</html>