<!--Редактирование холодильника-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать холодильник</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Редактировать холодильник</h1><br>

  <form method="POST" enctype="multipart/form-data" th:action="@{/refrigerators/update}" th:object="${refrigeratorDTO}">
    <input name="id" type="hidden" th:value="${refrigerator.id}">
    <div class="mb-3">
      <label for="imgPath" class="form-label">Картинка</label>
      <input name="imgPath" type="hidden" th:value="${refrigerator.imgPath}" class="form-control">
      <p th:text="${refrigerator.imgPath}"></p>
      <input type="file" name="file" id="imgPath">
    </div>
    <div class="mb-3">
      <label for="firmName" class="form-label">Фирма-производитель</label>
      <input name="firmName" type="text" class="form-control" th:value="${refrigerator.firmName}" id="firmName">
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Модель</label>
      <input name="model" type="text" class="form-control" th:value="${refrigerator.model}" id="model">
    </div>
    <div class="mb-3">
      <label for="powerConsumption" class="form-label">Энергопотребление в год, кВтч</label>
      <input name="powerConsumption" type="text" class="form-control" th:value="${refrigerator.powerConsumption}" id="powerConsumption">
    </div>
    <div class="mb-3">
      <label for="freezingPower" class="form-label">Мощность замораживания, кг/сутки</label>
      <input name="freezingPower" type="text" class="form-control" th:value="${refrigerator.freezingPower}" id="freezingPower">
    </div>
    <div class="mb-3">
      <label for="freezingVolume" class="form-label">Объем морозильной камеры, л</label>
      <input name="freezingVolume" type="text" class="form-control" th:value="${refrigerator.freezingVolume}" id="freezingVolume">
    </div>
    <div class="mb-3">
      <label for="refrigeChamberVolume" class="form-label">Объем холодильной камеры, л</label>
      <input name="refrigeChamberVolume" type="text" class="form-control" th:value="${refrigerator.refrigeChamberVolume}" id="refrigeChamberVolume">
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Цвет</label>
      <input name="color" type="text" class="form-control" th:value="${refrigerator.color}" id="color">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Высота, см</label>
      <input name="height" type="text" class="form-control" th:value="${refrigerator.height}" id="height">
    </div>
    <div class="mb-3">
      <label for="width" class="form-label">Ширина, см</label>
      <input name="width" type="text" class="form-control" th:value="${refrigerator.width}" id="width">
    </div>
    <div class="mb-3">
      <label for="depth" class="form-label">Глубина, см</label>
      <input name="depth" type="text" class="form-control" th:value="${refrigerator.depth}" id="depth">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Вес, кг</label>
      <input name="weight" type="text" class="form-control" th:value="${refrigerator.weight}" id="weight">
    </div>
    <div class="mb-3">
      <label for="cost" class="form-label">Стоимость, руб</label>
      <input name="cost" type="text" class="form-control" th:value="${refrigerator.cost}" id="cost">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Информация о товаре</label>
      <input name="description" type="text" class="form-control" th:value="${refrigerator.description}" id="description">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input name="amount" type="text" class="form-control" th:value="${refrigerator.amount}" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Обновить</button>
    <button type="button" class="btn btn-secondary" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
  </form>

</div>
</body>
</html>
