<!--страница с утюгами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Утюги</title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="'Утюги с примененным фильтром'"></h1>
  <a
          th:href="'/api/irons'"
          class="btn btn-secondary"
          role="button"
          style="float: right"
          aria-disabled="true">Другие утюги</a><br><br>
  <div>
  </div>
  <table class="table">
    <col style="width:40%">
    <col style="width:40%">
    <col style="width:20%">
    <tbody>
    <!--        Перебор утюгов-->
    <tr th:each="iron: ${ironsWithFilter}">
      <td align="center">
        <img th:src="@{'/' + ${iron.imgPath}}" alt="Нет картинки" height="250">
      </td>
      <td>
        <div>
          <a th:href="'/api/irons/get/' +  ${iron.id}" class="nav-link active">
            <b th:text="${iron.productSubtype}"> </b>
            <b th:text="${iron.manufacturerName}"> </b>
            <b th:text="${iron.model}"></b>
          </a>
          <p>
            <small th:text="'Потребляемая мощность ' + ${iron.powerConsumption} + ' Вт'"></small>
            <br><small th:text="'Емкость для воды ' + ${iron.waterTankVolume} + ' мл'"></small>
            <br><small th:text="'Длина сетевого шнура ' + ${iron.powerCordLength} + ' м'"></small>
          </p>
          <big th:text="${iron.cost} + ' ₽'"></big>
        </div>
      </td>
      <td align="right">
        <a th:href="'/api/irons/get/' + ${iron.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Узнать больше</a><br>

        <br>
        <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/irons/putInBasket}" th:object="${idProduct}">
          <input name="idProduct" type="hidden" th:value="${iron.id}">
          <button type="submit" class="btn btn-primary"
                  style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
            В корзину
          </button>
        </form>
        <form sec:authorize="!isAuthenticated()">
          <a href="/api/account/signIn"
             class="btn btn-primary"
             role="button"
             style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
             aria-disabled="true">В корзину</a>
        </form>
      </td>
    </tr>
    </tbody>
  </table><br><br><br>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>

</div>
</body>
</html>