<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактировать утюг</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Редактировать утюг</h1><br>

  <form method="POST" enctype="multipart/form-data" th:action="@{/irons/update}" th:object="${ironDTO}">
    <input name="id" type="hidden" th:value="${iron.id}">
    <div class="mb-3">
      <label for="imgPath" class="form-label">Картинка</label>
      <input name="imgPath" type="hidden" th:value="${iron.imgPath}" class="form-control">
      <p th:text="${iron.imgPath}"></p>
      <input type="file" name="file" id="imgPath">
    </div>
    <div class="mb-3">
      <label for="firmName" class="form-label">Фирма-производитель</label>
      <input name="firmName" type="text" class="form-control" th:value="${iron.firmName}"  id="firmName">
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Модель</label>
      <input name="model" type="text" class="form-control" th:value="${iron.model}" id="model">
    </div>
    <div class="mb-3">
      <label for="powerConsumption" class="form-label">Потребляемая мощность, Вт</label>
      <input name="powerConsumption" type="text" class="form-control" th:value="${iron.powerConsumption}" id="powerConsumption">
    </div>
    <div class="mb-3">
      <label for="waterTankVolume" class="form-label">Емкость для воды, мл</label>
      <input name="waterTankVolume" type="text" class="form-control" th:value="${iron.waterTankVolume}" id="waterTankVolume">
    </div>
    <div class="mb-3">
      <label for="waterSprayer" class="form-label">Распылитель воды</label>
      <select class="form-select" name="waterSprayer" id="waterSprayer" aria-label="Default select example">
        <option th:if="${iron.isWaterSprayer()}" selected value="True">Да</option>
        <option th:unless="${iron.isWaterSprayer()}" selected value="False">Нет</option>
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="turboSteamSupply" class="form-label">Турборежим подачи пара</label>
      <select class="form-select" name="turboSteamSupply" id="turboSteamSupply" aria-label="Default select example">
        <option th:if="${iron.isTurboSteamSupply()}" selected value="True">Да</option>
        <option th:unless="${iron.isTurboSteamSupply()}" selected value="False">Нет</option>
        <option value="True">Да</option>
        <option value="False">Нет</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="powerCordLength" class="form-label">Длина сетевого шнура, м</label>
      <input name="powerCordLength" type="text" class="form-control" th:value="${iron.powerCordLength}" id="powerCordLength">
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Цвет</label>
      <input name="color" type="text" class="form-control" th:value="${iron.color}" id="color">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Высота, см</label>
      <input name="height" type="text" class="form-control" th:value="${iron.height}" id="height">
    </div>
    <div class="mb-3">
      <label for="width" class="form-label">Ширина, см</label>
      <input name="width" type="text" class="form-control" th:value="${iron.width}" id="width">
    </div>
    <div class="mb-3">
      <label for="depth" class="form-label">Глубина, см</label>
      <input name="depth" type="text" class="form-control" th:value="${iron.depth}" id="depth">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Вес, кг</label>
      <input name="weight" type="text" class="form-control" th:value="${iron.weight}" id="weight">
    </div>
    <div class="mb-3">
      <label for="cost" class="form-label">Стоимость, руб</label>
      <input name="cost" type="text" class="form-control" th:value="${iron.cost}" id="cost">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Информация о товаре</label>
      <input name="description" type="text" class="form-control" th:value="${iron.description}" id="description">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input name="amount" type="text" class="form-control" th:value="${iron.amount}" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Редактировать</button>
    <button type="button" class="btn btn-secondary" style="background-color: #ea1717; border-color: #ea1717; color: aliceblue" onclick="window.history.back()">Назад</button>
  </form>

</div>
</body>
</html>