<!--страница с утюгами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Утюги</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Утюги</h1><br><br>
    <div class="filter-string-container" style="width: 100%">
      <div>
        <div class="row">
          <div class="cool">
            <form method="POST" th:action="@{/irons/filter-by-model}" th:object="${ironByModel}">
              <div class="row">
                <div class="col-auto" style="width: 80%">
                  <input name="model" type="text" class="form-control" id="model" th:placeholder="'Поиск по моделям'">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <form sec:authorize="hasRole('ADMIN')">
          <a
                  th:href="'irons/add'"
                  class="btn btn-secondary"
                  role="button"
                  style="float: right"
                  aria-disabled="true">Добавить утюг</a>
        </form>
      </div>
    </div><br><br>
    <div class="page-container" style="width: 100%">
      <div>
        <div>
          <h5>Фильтр</h5>
          <hr style="width: 40%">
          <small>
            <form method="POST" th:action="@{/irons/filter}" th:object="${ironsFilterDTO}">
              <h6>Компания</h6>
              <div class="mb-3">
                <input name="firmName" type="radio" id="firmNameNull" th:value="''" checked>
                <label for="firmNameNull">Не выбрано</label>
              </div>
              <div class="mb-3" th:each="manufacturer: ${manufacturers}">
                <input name="firmName" type="radio" id="firmName" th:value="${manufacturer.firmName}">
                <label for="firmName" th:text="${manufacturer.firmName}"></label>
              </div>
              <hr style="width: 40% ">
              <h6>Цена, ₽</h6>
              <div class="mb-3">
                <label for="minCostDTO" class="form-label">от</label>
                <input name="minCostDTO" type="text" class="form" id="minCostDTO" th:value="${minCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <div class="mb-3">
                <label for="maxCostDTO" class="form-label">до</label>
                <input name="maxCostDTO" type="text" class="form" id="maxCostDTO" th:value="${maxCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <hr style="width: 40% ">
              <h6>Турборежим подачи пара</h6>
              <div class="mb-3">
                <input name="turboSteamSupply" type="radio" id="turboSteamSupply" th:value="null" checked>
                <label for="turboSteamSupply">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="turboSteamSupply" type="radio" id="turboSteamSupply1" th:value="true">
                <label for="turboSteamSupply1">Есть</label>
              </div>
              <div class="mb-3">
                <input name="turboSteamSupply" type="radio" id="turboSteamSupply2" th:value="false">
                <label for="turboSteamSupply2">Нет</label>
              </div>
              <hr style="width: 40% ">
              <h6>Емкость для воды</h6>
              <div class="mb-3">
                <input name="meanWaterTankVolume" type="radio" id="meanWaterTankVolume" th:value="0" checked>
                <label for="meanWaterTankVolume">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanWaterTankVolume" type="radio" id="meanWaterTankVolume1" th:value="250">
                <label for="meanWaterTankVolume1">менее 300 мл</label>
              </div>
              <div class="mb-3">
                <input name="meanWaterTankVolume" type="radio" id="meanWaterTankVolume2" th:value="350">
                <label for="meanWaterTankVolume2">300 - 400 мл</label>
              </div>
              <div class="mb-3">
                <input name="meanWaterTankVolume" type="radio" id="meanWaterTankVolume4" th:value="450">
                <label for="meanWaterTankVolume4">более 400 мл</label>
              </div>
              <hr style="width: 40% ">
              <button type="submit" style="background-color: #f5d302; border-style: solid; border-color: #f5d302; color: #090808;-->
                border-radius: 4px; box-shadow: none">Применить</button>
            </form>
          </small>
        </div>
      </div>
      <div>
        <table class="table">
          <col style="width:40%">
          <col style="width:40%">
          <col style="width:20%">
          <tbody>
          <!--        Перебор утюгов-->
          <tr th:each="iron: ${irons}">
            <td align="center">
              <img th:src="@{'/' + ${iron.imgPath}}" alt="Нет картинки" height="250">
            </td>
            <td>
              <div>
                <a th:href="'/api/irons/get/' +  ${iron.id}" class="nav-link active">
                  <b th:text="${iron.productSubtype}"> </b>
                  <b th:text="${iron.manufacturerName}"> </b>
                  <b th:text="${iron.model}"></b>
                </a>
                <p>
                  <small th:text="'Потребляемая мощность ' + ${iron.powerConsumption} + ' Вт'"></small>
                  <br><small th:text="'Емкость для воды ' + ${iron.waterTankVolume} + ' мл'"></small>
                  <br><small th:text="'Длина сетевого шнура ' + ${iron.powerCordLength} + ' м'"></small>
                </p>
                <big th:text="${iron.cost} + ' ₽'"></big>
              </div>
            </td>
            <td align="right">
              <a th:href="'/api/irons/get/' + ${iron.id}"
                 class="btn btn-primary"
                 role="button"
                 aria-disabled="true">Узнать больше</a><br>

              <br>
              <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/irons/putInBasket}" th:object="${idProduct}">
                <input name="idProduct" type="hidden" th:value="${iron.id}">
                <button type="submit" class="btn btn-primary"
                        style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
                  В корзину
                </button>
              </form>
              <form sec:authorize="!isAuthenticated()">
                <a href="/api/account/signIn"
                   class="btn btn-primary"
                   role="button"
                   style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
                   aria-disabled="true">В корзину</a>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div><br><br><br>
      <div  class="footer" align="center" >
        <small>
          <small>
            © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
            <br>Информация на сайте не является публичной офертой.
          </small>
        </small>
      </div>
    </div>
  </div>
</body>
</html>