<!--Шапка сайта с меню-->
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar navbar-expand-lg " style="background-color: #f5d302;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #090808" href="/api/">TeHStore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
                class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/manufacturers">Производители</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/products">Товары</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/deliveryInfo">Доставка</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse right" id="navbarSupportedContent right" style="position: absolute; right:0px">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-1">

          <!--Через иконку-->
          <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/orders/allOrders"><i title="Заказы" class="fa-solid fa-file-invoice-dollar fa-xl"></i></a>
          </li>
          <li sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/orders/account"><i title="Заказы" class="fa-solid fa-file-invoice-dollar fa-xl"></i></a>
          </li>
          <li sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-item">
            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/orders/account/basket"><i title="Корзина" class="fa-solid fa-basket-shopping fa-xl"></i></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i title="Аккаунт" class="fa-solid fa-users fa-xl"></i>
            </a>
            <ul class="dropdown-menu">
              <li sec:authorize="!isAuthenticated()">
                <a class="dropdown-item" href="/api/account/signIn">Войти в аккаунт</a>
              </li>
              <li sec:authorize="isAuthenticated() && hasRole('USER')">
                <a class="dropdown-item" href="/api/account">Профиль</a>
              </li>
              <li sec:authorize="isAuthenticated()">
                <a class="dropdown-item" href="/api/logout">Выйти</a>
              </li>
            </ul>
          </li>

<!--          <li sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-item">-->
<!--            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/account">Профиль</a>-->
<!--          </li>-->
<!--          <li sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-item">-->
<!--            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/orders/account/basket">Корзина</a>-->
<!--          </li>-->
<!--          <li sec:authorize="hasRole('ADMIN')" class="nav-item">-->
<!--            <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/orders/allOrders">Заказы</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <form sec:authorize="!isAuthenticated()">-->
<!--              <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/account/signIn">Войти в аккаунт</a>-->
<!--            </form>-->
<!--            <form sec:authorize="isAuthenticated()">-->
<!--              <a class="nav-link active" style="color: #090808" aria-current="page" href="/api/logout">Выйти</a>-->
<!--            </form>-->
<!--          </li>-->

        </ul>
      </div>
    </div>
  </nav>
</div>
