<!--Профиль-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Профиль</h1><br>
        <div class="filter-string-container">
            <div>
                <h2>Личные данные</h2><br>
                <p th:text="'Фамилия: ' + ${account.lastName}"></p>
                <p th:text="'Имя: ' + ${account.firstName}"></p>
                <p th:text="'Отчество: ' + ${account.middleName}"></p>
                <p th:text="'Дата рождения: ' + ${account.birthDate}"></p>
                <p th:text="'Логин: ' + ${account.login}"></p>
                <hr style="width: 40%">
                <br>
                <h2>Данные для связи</h2><br>
                <p th:text="'Номер телефона: ' + ${account.telephone}"></p>
                <p th:text="'Email: ' + ${account.email}"></p>
                <hr style="width: 40%">
                <br>
                <h2>Адрес доставки</h2><br>
                <p th:text="'Адрес: ' + ${account.address}"></p>

            </div>
            <div align="center">
                <div>
                    <a th:href="'/api/orders/account'"
                       class="btn btn-primary"
                       role="button"
                       style="width: 160px"
                       aria-disabled="true">Мои заказы</a>
                </div>
                <br>
                <div>
                    <a th:href="'/api/account/update'"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: #090808; border-color: #090808; color: #ffffff; width: 160px"
                       aria-disabled="true">Редактировать</a>
                </div>
                <br>
                <div>
                    <a th:href="'/api/account/change-password/' + ${account.id}"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: #ea1717; border-color: #ea1717; color: aliceblue; width: 160px"
                       aria-disabled="true">Изменить пароль</a>
                </div>
            </div>
            <br>
            <br><br><br>
            <div  class="footer" align="center" >
                <small>
                    <small>
                        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
                        <br>Информация на сайте не является публичной офертой.
                    </small>
                </small>
            </div>
        </div>
    <div/>
</body>
</html>