<!--страница для входа в аккаунт-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Вход в Аккаунт</title>
</head>
<body>
<main class="content-wrapper m-auto">
  <div layout:fragment="content" class="container-fluid" style="margin-top: 4rem">
    <div class="container" align="center" style="background-color: #fcf5db; border-radius: 25px; width: 35%; height: 370px">
      <form method="POST" th:action="@{/account/signIn}">
        <div th:if="${param.error}">
          <div class="alert alert-danger">Неверный пароль!!!</div>
        </div>
        <div  align="center" style="width: 60%">
          <p class="h2" style="text-align:center">Войти в систему</p>
        </div><br>
        <div align="center" style="width: 70%">
          <small id="usernameHelp" class="form-text text-muted">Введите имя пользователя</small>
          <input name="username" type="text" class="form-control" id="exampleInputUsername"
                 placeholder="Имя пользователя"
                 aria-describedby="usernameHelp"/>
        </div>
        <div align="center" style="width: 70%">
          <small id="passwordHelp" class="form-text text-muted">Введите пароль</small>
          <input name="password" type="password" class="form-control" id="exampleInputPassword"
                 placeholder="Пароль">
        </div><br>
        <div class="form-group col-md-3 offset-md-4 m-auto" align="center">
          <button type="submit" class="btn btn-primary" >Войти</button>
        </div><br>
        <div class="model-container">
          <div style="margin-right: 1%">
            <a th:href="'/api/account/registration'"
               class="btn btn-primary"
               role="button"
               style="background-color: #5ec052; border-color: #5ec052; color: aliceblue; width: 170px; float: right"
               aria-disabled="true">Зарегистрироваться</a>
          </div>
          <div style=" margin-left: 1%">
            <a th:href="'/api/account/remember-password'"
               class="btn btn-primary"
               role="button"
               style="background-color: #ea1717; border-color: #ea1717; color: aliceblue; width: 170px; float: left"
               aria-disabled="true">Забыли пароль?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout}"-->
<!--      lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Аккаунт</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="content">-->
<!--  <div class="registration">-->
<!--    <form>-->
<!--      <h3 class="text-center">Вход в аккаунт</h3>-->
<!--      <div class="form-group">-->
<!--        <input class="form-control item" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="Логин" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input class="form-control item" type="password" name="Пароль" minlength="6" id="password" placeholder="Пароль" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <a-->
<!--                th:href="'account/sign'"-->
<!--                class="btn btn-secondary"-->
<!--                role="button"-->
<!--                aria-disabled="true">Войти</a>-->
<!--        <a-->
<!--                th:href="'account/registration'"-->
<!--                class="btn btn-secondary"-->
<!--                role="button"-->
<!--                style="background-color: #5bad51; color: aliceblue"-->
<!--                aria-disabled="true">Регистрация</a>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
