<!--страница с пылесосами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пылесосы</title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="'Пылесосы с примененным фильтром'"></h1>
  <a
          th:href="'/api/vacuum-cleaners'"
          class="btn btn-secondary"
          role="button"
          style="float: right"
          aria-disabled="true">Другие пылесосы</a><br><br>
  <div>
  </div>
  <table class="table">
    <col style="width:40%">
    <col style="width:40%">
    <col style="width:20%">
    <tbody>
    <!--        Перебор пылесосов-->
    <tr th:each="vacuumCleaner: ${vacuumCleanersWithFilter}">
      <td align="center">
        <img th:src="@{'/' + ${vacuumCleaner.imgPath}}" alt="Нет картинки" height="250">
      </td>
      <td>
        <div>
          <a th:href="'/api/vacuum-cleaners/get/' +  ${vacuumCleaner.id}" class="nav-link active">
            <b th:text="${vacuumCleaner.productSubtype}"> </b>
            <b th:text="${vacuumCleaner.manufacturerName}"> </b>
            <b th:text="${vacuumCleaner.model}"></b>
          </a>
          <p>
            <small th:text="'Максимальная мощность всасывания ' + ${vacuumCleaner.suctionPower} + ' Вт'"></small>
            <br><small th:text="'Максимальный уровень шума ' + ${vacuumCleaner.maxNoiseLevel} + ' дБ'"></small>
            <br><small th:text="'Длина сетевого шнура ' + ${vacuumCleaner.powerCordLength} + ' м'"></small>
          </p>
          <big th:text="${vacuumCleaner.cost} + ' ₽'"></big>
        </div>
      </td>
      <td align="right">
        <a th:href="'/api/vacuum-cleaners/get/' + ${vacuumCleaner.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Узнать больше</a><br>

        <br>
        <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/vacuum-cleaners/putInBasket}" th:object="${idProduct}">
          <input name="idProduct" type="hidden" th:value="${vacuumCleaner.id}">
          <button type="submit" class="btn btn-primary"
                  style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
            В корзину
          </button>
        </form>
        <form sec:authorize="!isAuthenticated()">
          <a href="/api/account/signIn"
             class="btn btn-primary"
             role="button"
             style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
             aria-disabled="true">В корзину</a>
        </form>
      </td>
    </tr>
    </tbody>
  </table><br><br><br>
  <div  class="footer" align="center" >
    <small>
      <small>
        © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
        <br>Информация на сайте не является публичной офертой.
      </small>
    </small>
  </div>
</div>
</body>
</html>