<!--страница с пылесосами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пылесосы</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Пылесосы</h1><br><br>
    <div class="filter-string-container" style="width: 100%">
      <div>
        <div class="row">
          <div class="cool">
            <form method="POST" th:action="@{/vacuum-cleaners/filter-by-model}" th:object="${vacuumCleanerByModel}">
              <div class="row">
                <div class="col-auto" style="width: 80%">
                  <input name="model" type="text" class="form-control" id="model" th:placeholder="'Поиск по моделям'">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <form sec:authorize="hasRole('ADMIN')">
          <a
                  th:href="'vacuum-cleaners/add'"
                  class="btn btn-secondary"
                  role="button"
                  style="float: right"
                  aria-disabled="true">Добавить пылесос</a>
        </form>
      </div>
    </div><br><br>
    <div class="page-container" style="width: 100%">
      <div>
        <div>
          <h5>Фильтр</h5>
          <hr style="width: 40%">
          <small>
            <form method="POST" th:action="@{/vacuum-cleaners/filter}" th:object="${ironsFilterDTO}">
              <h6>Компания</h6>
              <div class="mb-3">
                <input name="firmName" type="radio" id="firmNameNull" th:value="''" checked>
                <label for="firmNameNull">Не выбрано</label>
              </div>
              <div class="mb-3" th:each="manufacturer: ${manufacturers}">
                <input name="firmName" type="radio" id="firmName" th:value="${manufacturer.firmName}">
                <label for="firmName" th:text="${manufacturer.firmName}"></label>
              </div>
              <hr style="width: 40% ">
              <h6>Цена, ₽</h6>
              <div class="mb-3">
                <label for="minCostDTO" class="form-label">от</label>
                <input name="minCostDTO" type="text" class="form" id="minCostDTO" th:value="${minCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <div class="mb-3">
                <label for="maxCostDTO" class="form-label">до</label>
                <input name="maxCostDTO" type="text" class="form" id="maxCostDTO" th:value="${maxCost}" style="width: 50%; border-radius: 4px;border-style: solid; border-color: #d0cece" size="2">
              </div>
              <hr style="width: 40% ">
              <h6>Мощность всасывания</h6>
              <div class="mb-3">
                <input name="meanSuctionPower" type="radio" id="meanSuctionPower" th:value="0" checked>
                <label for="meanSuctionPower">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanSuctionPower" type="radio" id="meanSuctionPower1" th:value="300">
                <label for="meanSuctionPower1">от 400 Вт</label>
              </div>
              <div class="mb-3">
                <input name="meanSuctionPower" type="radio" id="meanSuctionPower2" th:value="500">
                <label for="meanSuctionPower2">400 - 600 Вт</label>
              </div>
              <div class="mb-3">
                <input name="meanSuctionPower" type="radio" id="meanSuctionPower3" th:value="700">
                <label for="meanSuctionPower3">600 - 800 Вт</label>
              </div>
              <div class="mb-3">
                <input name="meanSuctionPower" type="radio" id="meanSuctionPower4" th:value="900">
                <label for="meanSuctionPower4">более 800 Вт</label>
              </div>
              <hr style="width: 40% ">
              <h6>Уровень шума</h6>
              <div class="mb-3">
                <input name="meanMaxNoiseLevel" type="radio" id="meanMaxNoiseLevel" th:value="0" checked>
                <label for="meanMaxNoiseLevel">Не выбрано</label>
              </div>
              <div class="mb-3">
                <input name="meanMaxNoiseLevel" type="radio" id="meanMaxNoiseLevel1" th:value="55">
                <label for="meanMaxNoiseLevel1">менее 60 дБ</label>
              </div>
              <div class="mb-3">
                <input name="meanMaxNoiseLevel" type="radio" id="meanMaxNoiseLevel2" th:value="65">
                <label for="meanMaxNoiseLevel2">60 - 70 дБ</label>
              </div>
              <div class="mb-3">
                <input name="meanMaxNoiseLevel" type="radio" id="meanMaxNoiseLevel3" th:value="75">
                <label for="meanMaxNoiseLevel3">70 - 80 дБ</label>
              </div>
              <div class="mb-3">
                <input name="meanMaxNoiseLevel" type="radio" id="meanMaxNoiseLevel4" th:value="85">
                <label for="meanMaxNoiseLevel4">более 80 дБ</label>
              </div>
              <hr style="width: 40% ">
              <button type="submit" style="background-color: #f5d302; border-style: solid; border-color: #f5d302; color: #090808;-->
                border-radius: 4px; box-shadow: none">Применить</button>
            </form>
          </small>
        </div>
      </div>
      <div>
        <table class="table">
          <col style="width:40%">
          <col style="width:40%">
          <col style="width:20%">
          <tbody>
          <!--        Перебор пылесосов-->
          <tr th:each="vacuumCleaner: ${vacuumCleaners}">
            <td align="center">
              <img th:src="@{'/' + ${vacuumCleaner.imgPath}}" alt="Нет картинки" height="250">
            </td>
            <td>
              <div>
                <a th:href="'/api/vacuum-cleaners/get/' +  ${vacuumCleaner.id}" class="nav-link active">
                  <b th:text="${vacuumCleaner.productSubtype}"> </b>
                  <b th:text="${vacuumCleaner.manufacturerName}"> </b>
                  <b th:text="${vacuumCleaner.model}"></b>
                </a>
                <p>
                  <small th:text="'Максимальная мощность всасывания ' + ${vacuumCleaner.suctionPower} + ' Вт'"></small>
                  <br><small th:text="'Максимальный уровень шума ' + ${vacuumCleaner.maxNoiseLevel} + ' дБ'"></small>
                  <br><small th:text="'Длина сетевого шнура ' + ${vacuumCleaner.powerCordLength} + ' м'"></small>
                </p>
                <big th:text="${vacuumCleaner.cost} + ' ₽'"></big>
              </div>
            </td>
            <td align="right">
              <a th:href="'/api/vacuum-cleaners/get/' + ${vacuumCleaner.id}"
                 class="btn btn-primary"
                 role="button"
                 aria-disabled="true">Узнать больше</a><br>

              <br>
              <form sec:authorize="hasRole('USER')" method="POST" th:action="@{/vacuum-cleaners/putInBasket}" th:object="${idProduct}">
                <input name="idProduct" type="hidden" th:value="${vacuumCleaner.id}">
                <button type="submit" class="btn btn-primary"
                        style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px">
                  В корзину
                </button>
              </form>
              <form sec:authorize="!isAuthenticated()">
                <a href="/api/account/signIn"
                   class="btn btn-primary"
                   role="button"
                   style="background-color: #090808; border-color: #090808; color: #ffffff; width: 135px"
                   aria-disabled="true">В корзину</a>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div><br><br><br><br>
      <div  class="footer" align="center" >
        <small>
          <small>
            © 2022 TeHStore. Все права защищены. Продукция представленная на сайте является оригинальной и полностью соответствует всем лицензиям.
            <br>Информация на сайте не является публичной офертой.
          </small>
        </small>
      </div>
    </div>
  </div>
</body>
</html>